.SideBar {
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    align-items: center;
    width: 15%;
    background-color: rgba(0, 0, 0, 0.49);
}

.Main {
    align-items: flex-end;
    font-size: 20px;
}

.Gold {
}
